:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 20px;
  --app-width: 650px;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: linear-gradient(
    to bottom,
    rgba(46, 46, 242, 0.881),
    rgb(60, 60, 159)
  );
  min-height: 100vh;
  height: 100%;
}

.zip-code-input {
  font-size: 1.5vh;
  padding-left: 10px;
  height: 2vh;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-form-submit {
  height: 2.5vh;
  margin-left: 0.2vw;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.state {
  font-size: 1.5em;
  text-align: center;
}

.today {
  width: var(--app-width);
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  margin-top: 20px;
  font-size: 30px;
}

.city {
  font-size: 2em;
  text-align: center;
}

.today-date-time {
  display: flex;
  justify-content: space-evenly;
}

.today-temp {
  display: flex;
  align-items: center;
}

.today-temp-icon {
  display: flex;
  justify-content: space-evenly;
  font-size: 3em;
}

.today-icon {
  height: 100px;
  width: auto;
}

.today-weather {
  display: flex;
  justify-content: space-evenly;
}

.today-range {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.today-range-label-pair {
  display: flex;
  flex-direction: column;
}

.forecast {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: var(--app-width);
}

.forecast-icon {
  display: block;
  margin: 0 auto;
}

/* .hourly-forecast {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid white;
  padding-left: 5px;
  margin-bottom: 5px;
} */

.hourly-forecast {
  display: grid;
  width: var(--app-width);
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  text-align: center;
  border: 2px solid white;
  margin-top: 10px;
}

.incorrect-input {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 650px) {
  :root {
    --app-width: 99%;
    font-size: 5vw;
  }

  .today {
    font-size: 6vw;
  }

  .today-range {
    font-size: 6.5vw;
  }

  .today-icon {
    height: 80px;
    width: auto;
  }

  .forecast {
    font-size: 13px;
  }
}
